.g-menu2{
    width: 50px;
    padding-right: 15px;
    color: aliceblue;
    position: relative;
    top: 20px;
}
nav{
    float: right;
    color: black;
    row-gap: 3;
}
nav a {
    padding-left: 10px;
    padding-right: 15px;
}
.google-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    position: relative;
    top: 90px;
    left: 130px;
}
    div{
        text-align: center;
    }
form{
    text-align: center;
    position:relative;
    top: 100px;
    right: 230px;

}
input{
    border-radius: 50px;
    height: 40px;
    width: 550px;
    border-color: rgb(193, 193, 252);

}
nav button{
    color:aliceblue;
    background-color:rgb(73, 73, 250);
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
:placeholder-shown{

}
div button{
    width: 170px;
    position: relative;
    top: 150px;
    left: 350px;
}
body{
    background:#202124;
    height: 100%;
    color: #bdc1c6;
}
.lucky{
    position: absolute;
    top: 270px;
    left: 550px;

}
.search{
    position: absolute;
    top: 270px;
    left: 370px;
}
#languages {
    position: relative;
    top: 200px;
    left: 300px;
}